  <div class="navbar-end-item dropdown">
  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='margin: 5px'>
    Versions <span class="caret"></span>
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/latest/">Latest (gitlab)</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/stable/">Stable (PyPI)</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.8.0/">v0.8.0</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.7.0/">v0.7.0</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.6.2/">v0.6.2</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.6.1/">v0.6.1</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.5.5/">v0.5.5</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.5.4/">v0.5.4</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.5.3/">v0.5.3</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.5.2/">v0.5.2</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.5.1/">v0.5.1</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.4.0/">v0.4.0</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.3.3/">v0.3.3</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.3.2/">v0.3.2</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.3.1/">v0.3.1</a>
    <a class="dropdown-item" href="https://emd.readthedocs.io/en/v0.3.0/">v0.3.0</a>
  </div>
  </div>
